---
body_class: blog-single-page
layout: default
single: true
---
{% capture root_url %}{{ site.root | strip_slash }}{% endcapture %}
<!-- ******BLOG LIST****** --> 
<div class="blog container">            
  <div class="row">
    <div id="blog-entry" class="blog-entry section col-md-8 col-sm-8 col-xs-12">                 
      <article class="post">
        <h2 class="title">{{ page.title }}</h2>
        <div class="meta">
          <ul class="meta-list list-inline">                                       
            <li class="post-time post_date date updated">{{ page.date | date: '%B %d %Y' }}</li>
            <li class="post-author"> by <a href="http://twitter.com/{{ page.author_link }}">{{ page.author }}</a></li>
            <!-- <li class="post-comments-link"> -->
            <!--   <a href="#comment-area"><i class="fa fa-comments"></i>8 Comments</a> -->
            <!-- </li> -->
          </ul><!--//meta-list-->                           	
        </div><!--meta-->
        {% if page.image %}
        <div class="post-thumb">
          <img class="img-responsive" src="{{ root_url }}/{{ page.image }}" alt="" />
        </div><!--//post-thumb-->
        {% endif %}
        <div class="content">
          {{ content }}
        </div>
        <div class="content">
          <p>
            <i><a href="http://twitter.com/{{ page.author_link }}">Follow {{ page.author }} on twitter</a></i>
          </p>
        </div>
        <nav class="post-nav">
        {% if page.previous.url %}
        <span class="nav-previous"><a href="{{ page.previous.url}}" rel="prev"><i class="fa fa-long-arrow-left"></i> {{ page.previous.title }}</a></span>
        {% endif %}
        {% if page.next.url %}
        <span class="nav-next"><a href="{{ page.next.url}}" rel="prev">{{ page.next.title }} <i class="fa fa-long-arrow-right"></i></a></span>
        {% endif %}
        </nav><!--//post-nav-->
                
      </article><!--//post-->  

      <div id="disqus_thread"></div>
      <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES * * */
        var disqus_shortname = 'ohcuk';
        
        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
      </script>
      <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
                                    
    </div><!--//blog-entry-->
    
    <aside id="blog-sidebar" class="blog-sidebar col-md-3 col-sm-3 col-xs-12 col-md-offset-1 col-sm-offset-1 col-xs-offset-0">
      <section class="widget recent-posts">
        <h3 class="title">Recent Posts</h3>
        <ul class="list-unstyled">
          {% for post in site.posts limit: site.recent_posts %}
          <li><a href="{{ root_url }}{{ post.url }}">{{ post.title }}</a><br /><span class="date">
              {{ post.date | date: '%B %d, %Y' }}
          </span></li>
          {% endfor %}
          <li><a href="/atom.xml"><i class="fa fa-rss-square"></i> RSS</a></li>
        </ul>
      </section><!--//widget-->
    </aside><!--//blog-side-bar-->               
  </div><!--//row-->
</div><!--//blog-->
