---
layout: default
body_class: blog-page
name: about
---

<!-- ******BLOG LIST****** --> 
<div class="blog container">
  <div class="row">
    <div id="blog-list" class="blog-list section col-md-8 col-sm-8 col-xs-12">

      {% for post in site.posts %}
      <article class="post blog-entry">
        <div class="content">
          <h2 class="post-title"><a href="{{ root_url }}{{ post.url }}">{{ post.title }}</a></h2>
          <div class="meta">
            <ul class="meta-list list-inline">                                       
              <li class="post-time post_date date updated">{{ post.date | date: '%B %d, %Y' }}</li>
              <li class="post-author"> by <a href="http://twitter.com/{{ post.author_link }}">{{ post.author }}</a></li>
              <!-- <li class="post-comments-link"> -->
              <!--   <a href="blog-single.html#comment-area"><i class="fa fa-comments"></i>8 Comments</a> -->
              <!-- </li> -->
            </ul><!--//meta-list-->                           	
          </div><!--meta-->
          {% if post.image %}
        <div class="post-thumb">
          <img class="img-responsive" src="/{{ post.image }}" alt="" />
        </div><!--//post-thumb-->
        {% endif %}
          <div class="post-entry">
            {{ post.excerpt }}
            <a class="read-more" href="{{ root_url }}{{ post.url }}">
              Read more <i class="fa fa-long-arrow-right"></i>
            </a>
          </div>
        </div>
      </article><!--//post-->
      {% endfor %}

      <ul class="pagination">
        {% if paginator.previous_page %}
        <li><a href="{{paginator.previous_page_path}}">Previous > </a></li>
        {% endif %}
        {% if paginator.next_page %}
        <li><a href="{{paginator.next_page_path}}">Next > </a></li>
        {% endif %}
      </ul><!--//pagination-->
    </div><!--//blog-list-->
    
    <aside id="blog-sidebar" class="blog-sidebar col-md-3 col-sm-3 col-xs-12 col-md-offset-1 col-sm-offset-1 col-xs-offset-0">

      <section class="widget recent-posts">                  
        <h3 class="title">Recent Posts</h3>
        <ul class="list-unstyled">
          {% for post in site.posts limit: site.recent_posts %}
          <li><a href="{{ root_url }}{{ post.url }}">{{ post.title }}</a><br /><span class="date">
              {{ post.date | date: '%B %d, %Y' }}
          </span></li>
          {% endfor %}
          <li><a href="/atom.xml"><i class="fa fa-rss-square"></i> RSS</a></li>
        </ul>
      </section><!--//widget-->
    </aside><!--//blog-side-bar-->               

  </div>  <!-- Row -->
</div>      <!-- Blog container -->


